{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="homepage">
  <div class="homepage-nav-left">
    <h6 class="homepage-nav-content"><a href="{{@blog.url}}">Work</a></h6>
  </div>
  <div class="homepage-nav-right">
    <h6 class="homepage-nav-content"><a href="{{@blog.url}}/about">About</a></h6>
    <h6><a href="{{@blog.url}}/contact">Contact</a></h6>
  </div>
  <div class="homepage-description">
    <h3 class="blogger-name">Your Name.</h3>
  </div>
  <div class="homepage-intro">
    <h2 class="blogger-intro">A brief sentence to describe yourself.</h2>
  </div>
</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
